/*Estilos gerais*/

body{
  margin: 0px;
  margin-bottom: 600px;
  background: #F3F3F3;
}

h1{
  margin: 0px;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  display: block; 
}
